<div class="faceted-carousel">
    <h5>Watch next TV and movies</h5>
    <div id="SliderCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row carousel-row">
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/5f786b87557c159c782569ed7ff1070696c11331f9b1efbfc46945667e2d9201._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/mango_mass-MMM_Arjun_Reddy_UC_2017-Full-Image_GalleryCover-rw-RW-1508367501115._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/excel-KGF_KANNADA-Full-Image_GalleryCover-rw-RW-1549056669100._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/sphe-F3400700000-Full-Image_GalleryCover-en-rw-1571420173981._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/d43ed11a1b78983193f58dea4d003a4e0c93dfd9a2fee41e493ea787c6f34a0f._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/194825bf89943e9e2bdd0f38470bdefe7debb9523b76ac9b942313c712496b10._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row carousel-row">
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/sphe-KG150700000_IN-Full-Image_GalleryCover-rw-RW-1558989533285._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/prkp-kav_2019-Full-Image_GalleryCover-en-rw-1556631321466._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/73a37fada9a30e3f99b96983082c44dd81d089a91a55f6fbab4b766bea7d5a4b._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/dreamwarrior-Maanagaram_DWP_2017-Full-Image_GalleryCover-hi-IN-1495211667145._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/d308ed16c1e98c5cba5c45cc0ce24b4bb401d8166ec0f9179812c20dfc944a61._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/wb-2045078_6000112291_IN-Full-Image_GalleryCover-en-rw-1566934007192._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row carousel-row">
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/b03628ccddfd7b0882fcf7a9bcdbbffb747bc013ba2b98441bc144cd36b6523e._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/c05326f51ecb5ec7a6cd95f54e36b70a19043825dd1da1977fd5f04bb4dbce6c._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/sgp-catalog-images/region_GLOBAL/tseries-Sonu_Ke_Titu_Ki_Sweety_2018-Full-Image_GalleryCover-rw-RW-1524863226222._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/b8d7fe1e1fbe63b5fb3cecabb44f41b6e1e330335c9860a40f4a8b6489b12c9a._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/18baef980968026a21af33cb1d576227e1365684fa86b898aad11cf96ab13e41._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
                <div class="col-md-2 col-sm-2 card-col">
                    <div class="card" style="width: 100%;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/20084b97f01db74a6d4cd3e7a07e74407decce42cb0449c9b39a89778847f40c._UR1920,1080_RI_SX356_FMwebp_.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
            </div>
          </div>


        </div>
        <a class="carousel-control-prev" href="#SliderCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#SliderCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>