.deatil-section{
    margin-top: 61px;
    color: #fff;
}
.img-col{
    height: 610px;
    position:relative;
    padding: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
}
.detail-col{
    padding: 45px 30px;
}
.dp-badge{
    margin-bottom: 2rem;
}
.dp-badge > span{
    margin-right: 20px;
    color: #8197a4;
    font-weight: 500;
    font-size: 1.1rem;
}
.imdb-badge{
    font-weight: 900 !important;
    font-size: 1.2rem !important;
    color: #CCCCCC !important;
}
.imdb-badge > span{
    margin-right: 20px;
    color: #8197a4;
    font-weight: 500;
    font-size: 1.1rem;
}
.meta-info{
    margin-top: 2rem;
}
.meta-info-1{
    color: #8197a4;
    font-weight: 700;
}
.meta-info-2> h6:first-child, .meta-info-2> h6:nth-child(2){
    color: #79b8f3;
    font-weight: 600;
}
.meta-info-2{
    color: #8197a4;
    font-weight: 700;
}
.action-box > div{
    cursor: pointer;
}
.play{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #49A5DA;
    text-align: center;
}
.play-icon{
    margin: 10px 13px 34px 13px;
}
.action-box > div{
    display: inline-block;
}
.watch-trailer{
    width: 120px;
    padding: 16px;
    background-color: #425265;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}
.terms-cond{
    color: #8197a4;
    font-weight: 500;
    margin-top: 2rem;
}
.terms-cond > span{
    color: #79b8f3;
    font-weight: 600;
    cursor: pointer;
}