html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: lightslategray;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}
header h3{
    margin: 0;
}
section{
    text-align: center;
}
.card{
    width: 350px;
    height: 200px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    display: inline-block;
}
/*added media Query*/
@media only screen and (max-width: 550px) {
    .card{
        width: 90%;
    }
}
.card-body{
    height: 75%;
}
.dark {
    font-weight: bold;
}
.btn{
    height: 100%;
    width: 75px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
article{
    text-align: center;
    padding: 10px;
    padding-bottom: 60px;
    margin: 10px 0;
}
footer{
    background-color: #f4f5f7;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* list group css */
ul{
    padding-inline-start: 0px;
}
.list-group {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    text-align: left;
    font-weight: 700;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.list-group-item:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}